<h1 id="room" data-id="<%= @room.id %>"><%= @room.name %></h1>

<ul id="chats">
    <%= render @chats %>
</ul>

<%= form_for @chat do |f| %>
    <%= @user.name %>
    <%= f.text_field :content %>
    <%= f.button "Send", type: :submit, onclick: 'setTimeout(function() { document.getElementById("new_chat").reset(); }, 1);' %>
<% end %>
